* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color: gray;
    color: whitesmoke;
    padding: 10px;
    text-align: center;
    font-size: 1, 5rem;
}

main {
    width: max;
    margin: 0 auto;
}

h1 {
    margin: 10px;
    text-align: center;
}

h2 {
    border-bottom: 1px solid gray;
}

img {
    width: 100%;
    height: 0 auto;
    box-shadow: 0 0 30px;
    border: 1px solid gray;

}

section {
    margin: 20px 0;
    border: 1px solid rgb(0, 0, 0 / 10%);
    padding: 10px;
    background-color: #abe;
    font-size: 15px;

}

section p {
    margin: 10px;
}

ul {
    margin: 10px;
}

footer {
    margin: 10px;
    text-align: center;
    background-color: rgb(63, 57, 57);
    color: whitesmoke;
    font-size: 1, 5 rem;
    font-family: Arial, sans-serif;
}